In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
data = pd.read_csv("dataset_1.csv")

In [28]:
data.head()

,Unnamed: 0,user,body_temp,heart_rate,pressure,gyroX,gyroY:,gyroZ,mgr,fall_accident,cardiac_arrest
0,0,1,37.7,43,158743.085,0.00,0.00,0.00,7905850400,0,0
1,1,1,35.5,108,208412.088,1.49,5.68,0.77,5345941270,0,0
2,2,1,36.7,119,149244.192,5.21,2.86,2.35,5117941238,0,0
3,3,1,35.4,104,132396.222,3.85,6.21,5.82,7469344503,0,0
4,4,1,36.3,72,175302.606,0.00,0.00,0.00,8139834006,1,0

In [32]:
# Adding user_ID
newList = []
for i in range(1, 10001):
    newList.append(i)
data["user_ID"] = newList

In [33]:
data.head()

,Unnamed: 0,user,body_temp,heart_rate,pressure,gyroX,gyroY:,gyroZ,mgr,fall_accident,cardiac_arrest,user_ID
0,0,1,37.7,43,158743.085,0.00,0.00,0.00,7905850400,0,0,1
1,1,1,35.5,108,208412.088,1.49,5.68,0.77,5345941270,0,0,2
2,2,1,36.7,119,149244.192,5.21,2.86,2.35,5117941238,0,0,3
3,3,1,35.4,104,132396.222,3.85,6.21,5.82,7469344503,0,0,4
4,4,1,36.3,72,175302.606,0.00,0.00,0.00,8139834006,1,0,5

In [42]:
type(data.loc[i:i+1, "gyroY:"])

pandas.core.series.Series

In [44]:
# Generating walking asymmetry

walkingAsymmetry = []

# My current metric is that if the gyroY and gyroZ differs by more than 0.75, I classify it as walking asymmetry
for i in range(10000):
    difference = abs(data.loc[i:i+1, "gyroY:"].any().astype(int) - data.loc[i:i+1, "gyroZ"].any().astype(int))
    if (difference > 0.75):
        walkingAsymmetry.append(1)
    else:
        walkingAsymmetry.append(0)
data["walkingAsymmetry"] = walkingAsymmetry

In [45]:
data.head()

,Unnamed: 0,user,body_temp,heart_rate,pressure,gyroX,gyroY:,gyroZ,mgr,fall_accident,cardiac_arrest,user_ID,walkingAsymmetry
0,0,1,37.7,43,158743.085,0.00,0.00,0.00,7905850400,0,0,1,0
1,1,1,35.5,108,208412.088,1.49,5.68,0.77,5345941270,0,0,2,0
2,2,1,36.7,119,149244.192,5.21,2.86,2.35,5117941238,0,0,3,0
3,3,1,35.4,104,132396.222,3.85,6.21,5.82,7469344503,0,0,4,0
4,4,1,36.3,72,175302.606,0.00,0.00,0.00,8139834006,1,0,5,0

In [46]:
import r

# Respiratory rate

respiratory = []

# Completely random

for i in range(10000):
    num = random.randint(18, 25)
    respiratory.append(num)
    
data["Respiratory Rate"] = respiratory

NameError: name 'random' is not defined

In [ ]:
data.to_csv("dataset_2.csv")